.modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: visible;
}

.modal-main {
    background-color: #212121;
    color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 90%;
    position: relative;
}

.modal-close {
    background: none;
    border: none;
    color: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}

h2 {
    color: #f1f1f1;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.modal-details {
    display: flex;
    gap: 20px;
}

.modal-left {
    flex: 1.5;
    height: 400px;
    overflow-y: scroll;
}

.modal-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.modal-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal-name, .modal-qty, .modal-cat, .modal-price, .modal-brand {
    font-size: 18px;
    color: #f1f1f1;
    margin-bottom: 10px;
}

.modal-atri {
    margin-top: 20px;
}

.attribute {
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #444;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribute strong {
    color: #f1f1f1;
    font-weight: bold;
}

.modal-status-is {
    color: #4caf50;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-status-oos {
    color: #f44336;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .modal-details {
        flex-direction: column;
    }

    .modal-main{
        width: 80vw;
    }

    .modal-left {
        height: auto;
        max-height: 200px;
        overflow-y: auto;
    }

    .modal-img {
        max-height: 100%;
        height: auto;
    }
}
